.setting-container{
    display: flex;
  height: calc(100vh - 90px);
  width: calc(100vw - 240px);
  margin-left: 240px;
  background-color: white;
  border-radius: 15px 0 0 15px;
}
.setting-content{
  margin-left: 20px;
  padding: 30px 20px;
  flex: 1;
  overflow-x: auto;
}
.setting-title {
  color: #1b4332;
  font-size: 24px;
  margin-bottom: 15px;
}