/* Sidebar.css */
.sidebar {
  width: 200px;
  background: linear-gradient(to bottom, #1b4332, #1b4332);
  color: white;
  padding: 20px;
  height: calc(100vh - 130px);
  position: fixed;
  left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.sidebar-title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.sidebar-logo{
  width: 140px;
}

.sidebar-item {
  opacity: 0.8;
  margin-bottom: 30px;
  cursor: pointer;
  font-weight: normal;
  transition: font-weight 0.2s ease;
}

.sidebar-item.active {
  font-weight: bold;
}

.logout{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.logout:hover{
  cursor: pointer;
  color: #ccc;
}

.logout:active{
  color: white;
}